body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 10vh auto;
    display: table;
}

.calculator {
    margin: auto;
    display: table-cell;
}

table {
    padding: 10px;
    width: 450px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
    table-layout: fixed;
}

th, tr {
    border-spacing: 5px;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
}

th {
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

th:hover {
    cursor: pointer;
    border: 3px solid black;
}

th:active {
    background: rgba(0, 0, 0, 0.8);
}

#screen {
    padding-right: 10px;
    text-align: right;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#reset {
    background: rgba(255, 128, 0, 1);
}

#reset:active {
    background: rgba(180, 95, 0, 1);
}